<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="myDirAttendee" value="C:\\inetpub\\wwwroot\\ACECQA\\EventApp\\imagesattaindee\\"/>
    <add key="myDirExihibitor" value="C:\\inetpub\\wwwroot\\ACECQA\\EventApp\\imagesExihibitor\\"/>
    <add key="myDirSpeaker" value="C:\\inetpub\\wwwroot\\ACECQA\\EventApp\\imagesSpeaker\\"/>
    <add key="myDirSponsor" value="C:\\inetpub\\wwwroot\\ACECQA\\EventApp\\imagesSponsor\\"/>
    <add key="myDirMap" value="C:\\inetpub\\wwwroot\\ACECQA\\EventApp\\imagesMap\\"/>
    <add key="myDirNews" value="C:\\inetpub\\wwwroot\\ACECQA\\EventApp\\imagesNews\\"/>
    <add key="myAppIcon" value="C:\\inetpub\\wwwroot\\ACECQA\\EventApp\\images\\"/>
    <add key="mySplash" value="C:\\inetpub\\wwwroot\\ACECQA\\EventApp\\images\\loading.gif"/>
    <add key="myUserManaul" value=" C:\\inetpub\\wwwroot\\ACECQA\\EventApp\\otherfiles"/>
    <add key="pathOfAppCacheFile" value="C:\\inetpub\\wwwroot\\ACECQA\\EventApp\\app.appcache"/>
    <add key="myDirBanner" value="C:\\inetpub\\wwwroot\\ACECQA\\EventApp\\images\\"/>
    <add key="myExhiMapImages" value="C:\\inetpub\\wwwroot\\ACECQA\\EventApp\\exhiMap\\"/>
  </appSettings>
  <connectionStrings>
    <add name="RemoteConnect" connectionString="Data Source=203.30.165.205;Initial Catalog=iStageNew2;User ID=iStage;Password=pulse#123;" providerName="System.Data.SqlClient" />
    <!--<add name="RemoteSQL2" connectionString="Data Source=Svn-Server\SQLEXPRESS;Initial Catalog=CMSSystem;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>   
    <compilation debug="true" targetFramework="4.0"> 
    </compilation>
    <httpRuntime />
    <customErrors mode="Off" />
      <caching>
        <cache privateBytesLimit="100000" disableExpiration="true" />
      </caching>
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
            <clientCache cacheControlMode="UseExpires" httpExpires="Sat, 01 Mar 2014 00:00:00 GMT" />
    </staticContent>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>     
</configuration>